{% extends '../blocks/authLayout.html' %} {% block page_content %}
<div class="container-center animated slideInDown">
  <div class="view-header">
    <div class="header-icon">
      <i class="pe page-header-icon pe-7s-unlock"></i>
    </div>
    <div class="header-title">
      <h3>Login</h3>
      <small>Please enter your credentials to login.</small>
    </div>
  </div>

  <div class="panel panel-filled">
    <div class="panel-body">
      <form id="loginForm" novalidate="" method="POST">
        <div class="form-group">
          <label class="control-label" for="username">Username</label>
          <input type="text" placeholder="example@gmail.com" title="Please enter you username" required="" value="" name="email" id="username" class="form-control">
          <span class="help-block small">Your unique username to app</span>
        </div>
        <div class="form-group">
          <label class="control-label" for="password">Password</label>
          <input type="password" title="Please enter your password" placeholder="******" required="" value="" name="password" id="password" class="form-control">
          <span class="help-block small">Your strong password</span>
        </div>
        <div>
          <button class="btn btn-accent">Login</button>
          <a class="btn btn-default" href="register.html">Register</a>
        </div>
      </form>
    </div>
  </div>

</div>
{% endblock %}
