{% extends '../blocks/layout.html' %} {% block page_content %}
<div class="row">
  <div class="col-lg-12">
    <div class="view-header">
      <div class="pull-right text-right" style="line-height: 14px">
        <small>Luna Admin Theme<br>Dashboard<br> <span class="c-white">v.1.0</span></small>
      </div>
      <div class="header-icon">
        <i class="pe page-header-icon pe-7s-shield"></i>
      </div>
      <div class="header-title">
        <h3 class="m-b-xs">{{ title }}</h3>
        <small>Special minimal admin theme with Dark UI style for monitoring or administration web applications.</small>
      </div>
    </div>
    <hr>
  </div>
</div>
<div class="row">

  <div class="col-lg-2 col-xs-6">
    <div class="panel panel-filled">

      <div class="panel-body">
        <h2 class="m-b-none">
                                    206 <span class="slight"><i class="fa fa-play fa-rotate-270 text-warning"> </i> +20%</span>
                                </h2>
        <div class="small">% New Sessions</div>
        <div class="slight m-t-sm"><i class="fa fa-clock-o"> </i> Updated: <span class="c-white">10:22pm</span> </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-xs-6">
    <div class="panel panel-filled">
      <div class="panel-body">
        <h2 class="m-b-none">
                                    140 <span class="slight"><i class="fa fa-play fa-rotate-90 c-white"> </i> 5%</span>
                                </h2>
        <div class="small">Total visitors</div>
        <div class="slight m-t-sm"><i class="fa fa-clock-o"> </i> Updated: <span class="c-white">9:10am</span> </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-xs-6">
    <div class="panel panel-filled">
      <div class="panel-body">
        <h2 class="m-b-none">
                                    262 <span class="slight"><i class="fa fa-play fa-rotate-270 text-warning"> </i> +56%</span>
                                </h2>
        <div class="small">Total users</div>
        <div class="slight m-t-sm"><i class="fa fa-clock-o"> </i> Updated: <span class="c-white">05:42pm</span> </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-xs-6">
    <div class="panel panel-filled">
      <div class="panel-body">
        <h2 class="m-b-none">
                                    62% <span class="slight"><i class="fa fa-play fa-rotate-270 text-warning"> </i> +18%</span>
                                </h2>
        <div class="small">Bounce Rate</div>
        <div class="slight m-t-sm"><i class="fa fa-clock-o"> </i> Updated: <span class="c-white">04:00am</span> </div>
      </div>
    </div>
  </div>


  <div class="col-lg-4 col-xs-12">
    <div class="panel panel-filled" style="position:relative;height: 114px">
      <div style="position: absolute;bottom: 0;left: 0;right: 0">
        <span class="sparkline"><canvas width="523" height="47" style="display: inline-block; width: 523px; height: 47px; vertical-align: top;"></canvas></span>
      </div>
      <div class="panel-body">
        <div class="m-t-sm">
          <div class="pull-right">
            <a href="#" class="btn btn-default btn-xs">See locations</a>
          </div>
          <div class="c-white"><span class="label label-accent">+45</span> New visitor</div>
          <span class="small c-white">120,312 <i class="fa fa-play fa-rotate-270 text-warning"> </i> -22%</span>
          <!--<span class="sparkline"></span>-->
        </div>
      </div>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-filled">
      <div class="panel-heading">
        <div class="panel-tools">
          <a class="panel-toggle"><i class="fa fa-chevron-up"></i></a>
          <a class="panel-close"><i class="fa fa-times"></i></a>
        </div>
        DataTables with HTML5 export buttons
      </div>
      <div class="panel-body">
        <p>
          The Buttons library for DataTables provides a framework with common options and API that can be used with DataTables, but is also very extensible, recognising that you will likely want to use buttons which perform an action unique to your applications.
        </p>
        <div class="table-responsive">

          <table id="tables" class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Date Created</th>
                <th>Braintree ID Transaction</th>
                <th>Transaction Status</th>
                <th>Customer Name</th>
                <th>Merchant</th>
                <th>Payment Name</th>
                <th>Payment Instruments</th>
                <th>Transaction Amount</th>
                <th>Transaction Fee</th>
              </tr>
            </thead>
            <tbody>
              {% for result in data %}
              <tr>
                <td>{{ result.updatedAt|date('Y-m-d H:i:s') }}</td>
                <td>{{ result.braintreeid}}</td>

                {% if result.status =='authorized' %}
                <td><a href="#" class="btn btn-success btn-xs">{{ titleCase(result.status) }}</a></td>
                {% else %}
                <td><a href="#" class="btn btn-danger btn-xs">{{ titleCase(result.status) }}</a></td>
                {% endif %}

                <td>{{ result.customer.firstName }}</td>
                <td>{{ result.customFields.merchant }}</td>
                <td>{{ result.customFields.paymentName }}</td>
                <td>{{ result.paymentInstrumentType }}</td>
                <td>{{ result.amount }}</td>
                <td>{{ result.serviceFeeAmount }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

</div>

{% endblock %}
