{% extends "baseAuth.html" %} {% block content %}
<section class="content">
  <div class="container-fluid">
    {% block page_content %}{% endblock %}
  </div>
</section>
{% endblock %}
<!-- End main content-->
