<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/vendor/fontawesome/css/font-awesome.css" />
  <link rel="stylesheet" href="/vendor/animate.css/animate.css" />
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="/styles/pe-icons/pe-icon-7-stroke.css" />
  <link rel="stylesheet" href="/styles/pe-icons/helper.css" />
  <link rel="stylesheet" href="/styles/stroke-icons/style.css" />
  <link rel="stylesheet" href="vendor/datatables/datatables.min.css" />
  <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
  <div class="wrapper">
    {% block content %}{% endblock %}
  </div>
  <script src="/vendor/pacejs/pace.min.js"></script>
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/vendor/datatables/datatables.min.js"></script>
  <script src="/scripts/luna.js"></script>
</body>

</html>