{% extends "base.html" %} {% block content %} {% include 'header.html' %} {% include 'navigation.html' %}
<section class="content">
  <div class="container-fluid">
    {% block page_content %}{% endblock %}
  </div>
</section>
{% endblock %}
<!-- End main content-->