<!-- Navigation-->
<aside class="navigation">
  <nav>
    <ul class="nav luna-nav">
      <li class="nav-category">
        Main
      </li>
      <li class="active">
        <a href="/dashboard">Dashboard</a>
      </li>
      <li>
        <a href="/token">Token Request</a>
      </li>
      <li>
        <a href="/submerchant">Submerchant</a>
      </li>
      <li>
        <a href="/customer">Customer</a>
      </li>
      <li>
        <a href="/prepayment">Pre Payment Request</a>
      </li>
      <li>
        <a href="/postpayment">Post Payment Request</a>
      </li>
      <li class="nav-info">
        <div class="m-t-xs">
          <span class="c-white">Example</span> text.
          <br/>
          <!-- HOW TO REMOVE THIS SECTION -->
          <!--<span>
                        If you don't want to have this section, just remove it from html and in your css replace:
                        .navigation:before { background-color: #24262d; } with
                        .navigation:before { background-color: #2a2d35; }
                        and
                        .navigation { background-color: #24262d; }</code> with <code>.navigation { background-color: #2a2d35; }
                    </span>-->
        </div>
      </li>
    </ul>
  </nav>
</aside>
<!-- End navigation-->
