{% extends '../blocks/layout.html' %} {% block page_content %}
<div class="row">
  <div class="col-lg-12">
    <div class="view-header">
      <div class="pull-right text-right" style="line-height: 14px">
        <small>Luna Admin Theme<br>Dashboard<br> <span class="c-white">v.1.0</span></small>
      </div>
      <div class="header-icon">
        <i class="pe page-header-icon pe-7s-shield"></i>
      </div>
      <div class="header-title">
        <h3 class="m-b-xs">{{ title }}</h3>
        <small>Special minimal admin theme with Dark UI style for monitoring or administration web applications.</small>
      </div>
    </div>
    <hr>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-filled">
            <div class="panel-heading">
                <div class="panel-tools">
                    <a class="panel-toggle"><i class="fa fa-chevron-up"></i></a>
                    <a class="panel-close"><i class="fa fa-times"></i></a>
                </div>
                DataTables with HTML5 export buttons
            </div>
            <div class="panel-body">
                <p>
                    The Buttons library for DataTables provides a framework with common options and API that can be used with DataTables, but is also very extensible, recognising that you will likely want to use buttons which perform an action unique to your applications.
                </p>
                <div class="table-responsive">

                    <table id="tables" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Date Created</th>
                            <th>Customer Id</th>
                            <th>Braintree Customer ID</th>
                            <th>Braintree Submerchant ID</th>
                        </tr>
                        </thead>
                        <tbody>
                          {% for result in data %}
                        <tr>
                            <td>{{ result.updatedAt|date('Y-m-d H:i:s') }}</td>
                            <td>{{ result.userToken }}</td>
                            <td>{{ result.braintreeCustomerId }}</td>
                            <td>{{ result.braintreeMerchantId }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>

{% endblock %}
